<div id="header_wrap" class="outer">
    <header class="inner">
      <h1 id="project_title"><img src="/images/akknight.png" width="100" height="100" border= "#333 6px outset" /> {{ page.title | default: site.title}}<img src="/images/akknight.png" width="100" height="100" /> </h1>
      {% if page.subtitle != null %}
        <h2 id="project_tagline">{{ page.subtitle | default: "Missing Subtitle"}}</h2>
      {% endif %}
      {% if site.show_downloads %}
        <section id="downloads">
          <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
          <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
        </section>
      {% endif %}
    </header>
</div>
