<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AK Maker's Club</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sections<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/division/Software">Software</a></li>
          <li><a href="/division/Hardware">Hardware</a></li>
          <li><a href="/division/Systems">Systems</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
