<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    HALP
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">STuff</a></li>
    <li><a href="#">Stuff STUFf</a></li>
    <li><a href="#">StuFF StuFSTu fust</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Cshotha</a></li>
  </ul>
</div>
